;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies [[binaryage/devtools "0.9.7"]
                [reagent "0.8.0-alpha2"]
                [proto-repl "0.3.1"]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl        {:port 8777}

 :builds
 {:main {:target :node-script
         :output-to "resources/main.js"
         :main main.core/main}

  :app {:target :browser
        :output-dir "resources/public/js"
        :asset-path "js"

        :modules
        {:main
         {:entries [calculator.core]}}

        :devtools
        ;; before live-reloading any code call this function
        {:before-load calculator.core/stop
         ;; after live-reloading finishes call this function
         :after-load calculator.core/start
         ;; serve the public directory over http at port 8700
         :http-root    "resources/public"
         :http-port    8700
         :preloads     [devtools.preload]}}}}
